.kavoon-regular {
    font-family: "Kavoon", serif;
    font-weight: 400;
    font-style: normal;
    color: #54D5D0;
}
h1, h2{
    font-weight: 100;
}
header, main, footer{
    text-align: center;
}
.texteTab {
    font-size: 120%;
}
html {
    height: 100%;
}
body {
    background: #39716C;
    display: flex;
    flex-direction: column;
    height: 100%;
}
header, footer {
    text-align: center;
    height: 5em
}
.application {
    flex: 1;
    background: #BBF6F2;
    position: relative;
    display: flex;
    overflow: hidden;
    flex-direction: column;
}
table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}
main {
    font-family: sans-serif;
    position: relative;
    display: flex;
    flex-direction: column;
}
button {
    background: #1CB1A3;
    color: #111111;
    border: unset;
    padding: 9px;
    border-radius: 20px;
    min-width: 100px;
}
.content {
    flex: 1;
    padding: 10px;
    height: auto;
    display: flex;
    overflow: auto;
    flex-direction: column;
    justify-content: space-between;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
input {
    background-color: #BBF6F2;
    color: black;
    border: unset;
    padding: 9px;
    border-radius: 20px;
    min-width: 200px;
}
select{
    background-color: #BBF6F2;
    color: black;
    border: unset;
    padding: 9px;
    border-radius: 20px;
    min-width: 200px;
}
.custom-input-class{
    background-color: #BBF6F2;
    color: black;
    border: unset;
    padding: 9px;
    border-radius: 20px;
    min-width: 200px;
}
progress[value] {
    width: 80%;
    height: 35px;
    border-color: black;
    border-radius: 35px;
    content: attr(value);
}
progress::-webkit-progress-bar {
    background-color: #FFFFFF;
}

progress::-webkit-progress-value {
    background-color: #1CB1A3;
}
.session {
    padding: 10px;
    text-align: center;
    font-weight: 100;
    color: #54D5D0;
}
h2 ~ p {
    background-color: #1CB1A3;
    border: unset;
    padding: 9px;
    border-radius: 20px;
}
nav {
    flex:1;
}
footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid black;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    padding: 5px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    padding: 10px;
}
label {
    display: block;
}
.popup {
    background: #39716C;
    position: fixed;
    padding: 10px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 7px 7px 8px -5px black;
}
.popup-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
}