{% extends 'admin/template.html.twig' %}

{% block title %}Station ajouter!{% endblock %}

{% block main %}
    <h1>station {{ stationId }} was added </h1>

    <a href="{{ path('create_evse', { stationId }) }}"><button>Ajouter EVSE</button></a>
    <br>
    <a href="{{ path('admin_view_stations') }}"><button>Retour à la liste</button></a>
{% endblock %}