{% extends 'user/template-content.html.twig' %}

{% block body_id 'user_password' %}

{% block main %}
    <div class="center-block">
        <h1>{{ 'Modifier Mot de Passe' }}</h1>

        <!--<div class="alert alert-info" role="alert">{{ 'info.change_password' }}</div>-->

        {{ form(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}





